<?xml version="1.0" encoding="utf-8"?>
<ProjectConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <InstalledVersion>4.80.18.0</InstalledVersion>
  <DateInstalled>2017-09-26</DateInstalled>
  <InstallationSourceLocation>\\LOG-BOM-020\New folder\IFS_F1 Tools_Envecon\F1ToolsExternal\IFSApplicationFormsDevelopment</InstallationSourceLocation>
  <StableReleaseUpdateCenter>\\LOG-BOM-020\New folder\IFS_F1 Tools_Envecon\F1ToolsExternal</StableReleaseUpdateCenter>
  <LocalProjectRoot>C:\Akhil</LocalProjectRoot>
  <TeamServerProjectRoot></TeamServerProjectRoot>
  <ItemTemplatesBaseVersion>1.0</ItemTemplatesBaseVersion>
  <DeployFilesFolder>C:\Akhil\DeployFiles</DeployFilesFolder>
  <WorkspaceFolder>C:\Akhil\Workspace</WorkspaceFolder>
  <ChangeLogURI>\\LOG-BOM-020\New folder\IFS_F1 Tools_Envecon\F1ToolsExternal\IFSApplicationFormsDevelopment\changelog.html</ChangeLogURI>
  <Configuration>External</Configuration>
</ProjectConfiguration>
